/* FooterStyles.css */
/* FooterStyles.css */
.mi-imagen {
    width: 25%;
    /* Asegura que la imagen ocupe el 100% del contenedor en pantallas grandes */
    height: auto;
    /* Ajusta automáticamente la altura según el ancho */

    /* Media query para pantallas más pequeñas (puedes ajustar el ancho máximo según tus necesidades) */
    @media (max-width: 768px) {
        width: 45%;
        /* Reduce el ancho al 80% en pantallas más pequeñas */
    }
}


/* Ajusta el estilo del texto del segundo div (col-4) */
.text-center {
    padding-top: 10px;
    /* Añade un poco de espacio superior para mejorar el aspecto */
}

/* Ajusta el estilo del texto del tercer div (col-4) */

